@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.text--dark {
  color: #2b2b2b;
}

.bg--dark {
  background-color: #2b2b2b;
}

.text--dark-gray {
  color: #303131;
}

.bg--dark-gray {
  background-color: #303131;
}

.text--light {
  color: #fff;
}

.bg--light {
  background-color: #fff;
}

.text--light-gray {
  color: #cccccc;
}

.bg--light-gray {
  background-color: #cccccc;
}

.text--primary {
  color: #fcc520;
}

.bg--primary {
  background-color: #fcc520;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

.text--justify {
  text-align: justify;
}

.position--absolute {
  position: absolute;
}

.position--relative {
  position: relative;
}

.position--static {
  position: static;
}

.position--fixed {
  position: fixed;
}

.justify--center {
  justify-content: center;
}

.justify--space-between {
  justify-content: space-between;
}

.justify--space-around {
  justify-content: space-around;
}

.items--center {
  align-items: center;
}

.items--end {
  align-items: end;
}

.display--block {
  display: block;
}

.display--none {
  display: none;
}

.display--flex {
  display: flex;
}

.display--grid {
  display: grid;
}

.mb--0 {
  margin-bottom: 0rem;
}

.mt--0 {
  margin-top: 0rem;
}

.ml--0 {
  margin-left: 0rem;
}

.mb--1 {
  margin-bottom: 1rem;
}

.mt--1 {
  margin-top: 1rem;
}

.ml--1 {
  margin-left: 1rem;
}

.mb--2 {
  margin-bottom: 2rem;
}

.mt--2 {
  margin-top: 2rem;
}

.ml--2 {
  margin-left: 2rem;
}

.mb--3 {
  margin-bottom: 3rem;
}

.mt--3 {
  margin-top: 3rem;
}

.ml--3 {
  margin-left: 3rem;
}

.mb--4 {
  margin-bottom: 4rem;
}

.mt--4 {
  margin-top: 4rem;
}

.ml--4 {
  margin-left: 4rem;
}

.mb--5 {
  margin-bottom: 5rem;
}

.mt--5 {
  margin-top: 5rem;
}

.ml--5 {
  margin-left: 5rem;
}

.mb--6 {
  margin-bottom: 6rem;
}

.mt--6 {
  margin-top: 6rem;
}

.ml--6 {
  margin-left: 6rem;
}

.mb--7 {
  margin-bottom: 7rem;
}

.mt--7 {
  margin-top: 7rem;
}

.ml--7 {
  margin-left: 7rem;
}

.mb--8 {
  margin-bottom: 8rem;
}

.mt--8 {
  margin-top: 8rem;
}

.ml--8 {
  margin-left: 8rem;
}

.mb--9 {
  margin-bottom: 9rem;
}

.mt--9 {
  margin-top: 9rem;
}

.ml--9 {
  margin-left: 9rem;
}

.mb--10 {
  margin-bottom: 10rem;
}

.mt--10 {
  margin-top: 10rem;
}

.ml--10 {
  margin-left: 10rem;
}

.mb--11 {
  margin-bottom: 11rem;
}

.mt--11 {
  margin-top: 11rem;
}

.ml--11 {
  margin-left: 11rem;
}

.mb--12 {
  margin-bottom: 12rem;
}

.mt--12 {
  margin-top: 12rem;
}

.ml--12 {
  margin-left: 12rem;
}

.mb--13 {
  margin-bottom: 13rem;
}

.mt--13 {
  margin-top: 13rem;
}

.ml--13 {
  margin-left: 13rem;
}

.mb--14 {
  margin-bottom: 14rem;
}

.mt--14 {
  margin-top: 14rem;
}

.ml--14 {
  margin-left: 14rem;
}

.mb--15 {
  margin-bottom: 15rem;
}

.mt--15 {
  margin-top: 15rem;
}

.ml--15 {
  margin-left: 15rem;
}

.mb--16 {
  margin-bottom: 16rem;
}

.mt--16 {
  margin-top: 16rem;
}

.ml--16 {
  margin-left: 16rem;
}

.mb--17 {
  margin-bottom: 17rem;
}

.mt--17 {
  margin-top: 17rem;
}

.ml--17 {
  margin-left: 17rem;
}

.mb--18 {
  margin-bottom: 18rem;
}

.mt--18 {
  margin-top: 18rem;
}

.ml--18 {
  margin-left: 18rem;
}

.mb--19 {
  margin-bottom: 19rem;
}

.mt--19 {
  margin-top: 19rem;
}

.ml--19 {
  margin-left: 19rem;
}

.mb--20 {
  margin-bottom: 20rem;
}

.mt--20 {
  margin-top: 20rem;
}

.ml--20 {
  margin-left: 20rem;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  margin-bottom: 2rem;
}

p {
  color: #fff;
  font-size: clamp(1rem, 5vw, 1.4rem);
  margin-bottom: 2rem;
}

body {
  color: #2b2b2b;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
textarea,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-family: "Montserrat", sans-serif;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header {
  padding: 2rem 0;
  background-color: #303131;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  margin-right: 1rem;
}
.header__nav ul li a {
  color: #fff;
}

.banner {
  padding: 3rem 0;
}
.banner__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3;
  align-items: center;
}
.banner__text h1 {
  font-size: 3rem;
  color: #2b2b2b;
}

.my-slider img {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.tns-outer {
  overflow: hidden;
  max-width: 40rem;
}
.tns-outer > button {
  display: none;
}

.tns-nav {
  text-align: center;
}
.tns-nav button {
  margin: 0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: none;
}
.tns-nav .tns-nav-active {
  background-color: #2b2b2b;
}

.accordion {
  padding: 3rem 0;
}
.accordion__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3;
  align-items: center;
}
.accordion__tab {
  max-width: 40rem;
  margin-bottom: 3rem;
}
.accordion__tab h4 {
  padding: 0.2rem 1rem;
  background-color: #cccccc;
  color: #303131;
  font-size: 1.5rem;
}
.accordion__tab i {
  padding: 0.2rem 1rem;
  float: right;
  transition: all 0.5s;
}
.accordion__tab i.open {
  rotate: 540deg;
  transition: all 0.5s;
}
.accordion__tab p {
  background-color: #cccccc;
  font-size: 1rem;
  text-align: justify;
  color: #303131;
  max-height: 0;
  height: auto;
  overflow: hidden;
}
.accordion__tab p.open {
  padding: 1rem 1rem;
  background-color: #cccccc;
  max-height: 150rem;
}
.accordion__img img {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.tabs {
  padding: 3rem 0;
}
.tabs__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3;
  align-items: center;
}
.tabs__info {
  max-width: 40rem;
}
.tabs__info ul li {
  padding: 0.2rem 1rem;
  background-color: #cccccc;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.tabs__info ul li.active {
  background-color: #303131;
  color: #cccccc;
}
.tabs__info ul li a {
  color: #fff;
}
.tabs__image {
  display: none;
}
.tabs__image img {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.tabs__image.active {
  display: block;
}

.progress {
  padding: 3rem 0;
}
.progress__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.progress__content {
  margin-bottom: 3rem;
}
.progress__content h4 {
  color: #2b2b2b;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 4rem;
  font-weight: 600;
}
.progress__bar {
  background-color: #cccccc;
  position: relative;
  width: 35rem;
  height: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0);
}
.progress__bar span {
  padding: 0 3rem;
  color: #cccccc;
  position: absolute;
  border-radius: 1rem;
  height: 100%;
  text-align: center;
  background-color: #2b2b2b;
  transition: all;
}/*# sourceMappingURL=main.css.map */