//to center all the contents
@mixin centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

//for grid
@mixin grid($cols, $gap) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: $gap;
}

//for one value of responsive (customize)
@mixin mediaQuery($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

//for responsiveness with specific value

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

//for mobile
@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}
//for tablet size
@mixin tablet {
  @media (min-width: #{$tablet}  ) and (max-width: #{$desktop}) {
    @content;
  }
}
//for desktop
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
